
<div class="row">
   <div class="col-lg-12">
    <nb-card>
          <nb-card-body>
                <div class="row d-flex align-items-left">
                    <nb-form-field style="width: 100%;">
                        <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                        <input id="searchName"  type="text" nbInput fullWidth shape="rectangle" placeholder="Type Search String ..." [(ngModel)]="searchString">
                    </nb-form-field>
                </div>
          </nb-card-body>
    </nb-card>
  </div>   
  </div>


<br>
<div class="row">
    <div class="col-lg-12">
        <nb-card size="large" status="danger">
            <nb-card-header>
                <div class="d-flex align-items-center">
                    <div style="text-align: left;" class="container">
                        <h4 style="color:white;"><nb-icon  icon="pause-circle-outline"></nb-icon><span>&nbsp;&nbsp;</span>Engaged</h4>
                    </div>
               </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <ng-container  *ngFor="let record of messageListDataService.allEmployeesData; let i = index;">
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3" 
                        *ngIf="(record.state == 'trying' 
                                || record.state == 'proceeding' 
                                || record.state == 'early' 
                                || record.state == 'confirmed')
                                && record.presence != 'danger'
                                && ( 
                                       (record.firstName != null ? (record.firstName | lowercase).includes(searchString | lowercase) : false)
                                    || (record.lastName != null ? (record.lastName | lowercase).includes(searchString | lowercase) : false)
                                    || (record.role != null ? (record.role | lowercase).includes(searchString | lowercase) : false)
                                    || (record.departmentName != null ? (record.departmentName | lowercase).includes(searchString | lowercase) : false)
                                    || (record.phonenumber != null ? (record.phonenumber).includes(searchString) : false)
                                    || (record.extension != null ? (record.extension).includes(searchString) : false)
                                    || (record.email != null ? (record.email | lowercase).includes(searchString | lowercase) : false)
                                    || (record.pesel != null ? (record.pesel).includes(searchString) : false)
                                   )
                            "
                        >
                            <!-- // state = "terminated"   =  "Ready";
                           // state == "trying"  =  "On the phone";
                           // state == "proceeding" = "On the phone";
                           // state == "early" =  "Ringing";
                           // state == "confirmed" =  "On the phone";  -->
                           <ngx-monitor-body status = "success" type="engaged" [record] = "record">
                           </ngx-monitor-body>
                       </div>
                    </ng-container>
                </div>
            </nb-card-body>
        </nb-card>
     </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <nb-card size="large" status="success">
            <nb-card-header>
                <div class="d-flex align-items-center">
                    <div style="text-align: left;" class="container">
                        <h4 style="color:white;"><nb-icon  icon="play-circle-outline"></nb-icon><span>&nbsp;&nbsp;</span><b>Idle</b></h4>
                    </div>
               </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <ng-container  *ngFor="let record of messageListDataService.allEmployeesData; let i = index;">
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3" 
                          *ngIf="record.state == 'terminated' 
                          && record.presence != 'danger'
                          && ( 
                                       (record.firstName != null ? (record.firstName | lowercase).includes(searchString | lowercase) : false)
                                    || (record.lastName != null ? (record.lastName | lowercase).includes(searchString | lowercase) : false)
                                    || (record.role != null ? (record.role | lowercase).includes(searchString | lowercase) : false)
                                    || (record.departmentName != null ? (record.departmentName | lowercase).includes(searchString | lowercase) : false)
                                    || (record.phonenumber != null ? (record.phonenumber).includes(searchString) : false)
                                    || (record.extension != null ? (record.extension).includes(searchString) : false)
                                    || (record.email != null ? (record.email | lowercase).includes(searchString | lowercase) : false)
                                    || (record.pesel != null ? (record.pesel).includes(searchString) : false)
                                   )
                                "
                        >
                            <!-- // state = "terminated"   =  "Ready";
                            // state == "trying"  =  "On the phone";
                            // state == "proceeding" = "On the phone";
                            // state == "early" =  "Ringing";
                            // state == "confirmed" =  "On the phone";  -->
                            <ngx-monitor-body status = "warning" [record] = "record" type="idle">
                            </ngx-monitor-body>
                        </div>
                    </ng-container>
                </div>
            </nb-card-body>
        </nb-card>
     </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <nb-card size="large" status="warning">
            <nb-card-header>
                <div class="d-flex align-items-center">
                    <div style="text-align: left;" class="container">
                        <h4 style="color:white;"><nb-icon  icon="minus-circle-outline"></nb-icon><span>&nbsp;&nbsp;</span>Logged Off</h4>
                    </div>
               </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <ng-container  *ngFor="let record of messageListDataService.allEmployeesData; let i = index;">
                        <!-- {{ searchString }} : 
                        {{ record.firstName }} : 
                        {{ record.lastName }} : 
                        {{
                            ( 
                                       (record.firstName != null ? (record.firstName | lowercase).includes(searchString | lowercase) : false)
                                    || (record.lastName != null ? (record.lastName | lowercase).includes(searchString | lowercase) : false)
                                    || (record.role != null ? (record.role | lowercase).includes(searchString | lowercase) : false)
                                    || (record.departmentName != null ? (record.departmentName | lowercase).includes(searchString | lowercase) : false)
                                    || (record.phonenumber != null ? (record.phonenumber).includes(searchString) : false)
                                    || (record.extension != null ? (record.extension).includes(searchString) : false)
                                    || (record.email != null ? (record.email | lowercase).includes(searchString | lowercase) : false)
                                    || (record.pesel != null ? (record.pesel).includes(searchString) : false)
                             )
                        }} -->
                         <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"  
                            *ngIf="record.presence == 'danger' 
                                && ( 
                                       (record.firstName != null ? (record.firstName | lowercase).includes(searchString | lowercase) : false)
                                    || (record.lastName != null ? (record.lastName | lowercase).includes(searchString | lowercase) : false)
                                    || (record.role != null ? (record.role | lowercase).includes(searchString | lowercase) : false)
                                    || (record.departmentName != null ? (record.departmentName | lowercase).includes(searchString | lowercase) : false)
                                    || (record.phonenumber != null ? (record.phonenumber).includes(searchString) : false)
                                    || (record.extension != null ? (record.extension).includes(searchString) : false)
                                    || (record.email != null ? (record.email | lowercase).includes(searchString | lowercase) : false)
                                    || (record.pesel != null ? (record.pesel).includes(searchString) : false)
                                   )
                                "
                          > 
                         <!-- // state = "terminated"   =  "Ready";
                        // state == "trying"  =  "On the phone";
                        // state == "proceeding" = "On the phone";
                        // state == "early" =  "Ringing";
                        // state == "confirmed" =  "On the phone";  -->
                        <ngx-monitor-body status="danger" type="logoff" [record] = "record">
                        </ngx-monitor-body>
                         </div>
                    </ng-container>
                </div>
            </nb-card-body>
        </nb-card>
     </div>
</div>



 
  